/*.badge.dark-badge .title {*/
/*    !*background-color: darkgrey;*!*/
/*    color: black;*/
/*}*/

.md-grid {
    max-width: 78.0rem; /* ~10% wider than Material default of 76.25rem */
}

.badge.dark-badge .value {
    background-color: black;
    color: white;
}

/*.badge.tools-badge .title {*/
/*    !*background-color: darkgrey;*!*/
/*    color: black;*/
/*}*/

.badge.tools-badge .value {
    background-color: darkgreen;
    color: white;
}
